@font-face {
  font-family: 'Aeonik';
  src: url('./fonts/AeonikTRIAL-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: "Aeonik", sans-serif;
}

.App-header{
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
}